{% extends '../layouts/layout.html' %}

{% block title %}Portada{% endblock %}

{% block content %}

  <section>
    <div class="title-head">
        <div class="left"><span class="icon"><img src="/img/title.png"></span> <h1>{{section.name}}</h1></div>
        <div class="right"><a href="/{{section.slug}}/post" id="create" class="button">CREAR POST</a></div>
    </div>

    <div class="clearfix"></div>

    <ul id="post-list">
      {% for post in posts %}
        <li>
          <div class="vote {% if post.voted %}inactive{% endif %}" data-postid="{{post.id}}">
            <button><div class="pts"><span>{{post.votes.length}}</span> votos</div></button>
            <span class="arrow"></span>
          </div>
          <div class="post">

            {% if post.url %}
              <a href="{{post.url}}"><div class="title"><h2>{{loop.index|add(page * perPage)}}. {{post.title}}</h2></a> <span>({{post.host}})</span></div>
            {% else %}
              <a href="/{{post.section.slug}}/post/{{post.id}}"><div class="title"><h2>{{loop.index|add(page * perPage)}}. {{post.title}}</h2></a></div>
            {% endif %}

            <ul class="meta">
              <li class="author"><a href="/user/{{post.user.id}}">{{post.user.nickname}}</a></li>
              <li class="time">{{post.createdDate|date('j/m/Y h:i a') }}</li>
              <li class="comments"><a href="/{{post.section.slug}}/post/{{post.id}}"><span>{{post.comments.length}}</span> Comentarios</a></li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div>
      <ul class="page-breadcrumb section-header">
        {% if page != 0%}<a href="/{{section.slug}}?page={{page|add(-1)}}" style="float:left"class="">< Anterior</a>{% endif %}
        {% if posts.length == perPage %}<a href="/{{section.slug}}?page={{page|add(1)}}" style="float:right">Siguiente ></a>{% endif %}
      </ul>
    </div>
  </section>
{% endblock %}

{% block javascript %}

$(".vote").click(function(){
  var linkElement = $(this);
  var postId = linkElement.data("postid");
  if(!$(this).hasClass("inactive")){
    $.post( "/post/"+postId+"/vote", function( data ) {
      if(data.success){
        $(".pts span",linkElement).html(data.votes);
        linkElement.addClass("inactive");
      }
    });
  }else{
    $.post( "/post/"+postId+"/unvote", function( data ) {
      if(data.success){
          $(".pts span",linkElement).html(data.votes);
        linkElement.removeClass("inactive");
      }
    });
  }
})

{% endblock %}
