{% extends '../layouts/layout.html' %}

{% block title %}Portada{% endblock %}

{% block content %}

  <section id="dashboard">
    <div class="title-head">
      <div class="left"><span class="icon"><img src="/img/create.png"></span> <h1>Responder a comentario</h1><br></div>
    </div>

    <div>
      {{comment.content|striptags|raw|replace('\n', '<br/><br/>') }}
    </div>
    <div class="clearfix"></div>

    <form method="post">
      Comentario:
      <textarea rows="8" name="commentContent"></textarea><br/>
      <button type="submit">Responder</button>
    </form>
  </section>

{% endblock %}
