<li>
  <ul class="meta">
    <li class="author"><a href="/user/{{comment.userId}}">{{comment.userNickname}}</a></li>
    <li class="time">{{comment.createdDate|date('j/n/Y h:i a') }}</li>
  </ul>
  <div class="content">
    {{comment.content|striptags|raw|replace('\n', '<br/>', 'g')}}
  </div>
  <ul class="meta" style="border-bottom:none;">
    <li class="reply"><a href="/comment/{{comment.id}}">Responder</a></li>
  </ul>
  <ul class="reply-user">
    {% for comment in comment.childComments %}
      {% include "./_comment.html"  %}
    {% endfor %}
  </ul>
</li>
