{% extends '../layouts/layout.html' %}

{% block title %}Portada{% endblock %}

{% block content %}


  <section id="tema">
    <div class="title-head">
      <div class="left"><span class="icon">
        <img src="/img/title.png"></span>
        {% if post.url %}
          <h1><a href="{{post.url}}">{{post.title}}</a> <small>({{post.host}})</small></h1>
        {% else %}
          <h1>{{post.title}}</h1>
        {% endif %}
      </div>
    </div>

    {% if post.description %}
      <div class="news-item-page">
        {{post.description|striptags|raw|replace('\n', '<br/>', 'g') }}
      </div>
    {% endif %}

    <div class="clearfix"></div>
    <ul class="meta-post">
      <li class="author"><a href="/user/{{post.user.id}}">{{post.user.nickname}}</a></li>
      <li class="time">{{post.createdDate|date('j/n/Y') }}</li>
      <li class="comments"><span>{{post.comments.length}}</span> Comentarios</li>
    </ul>
    <h2>Comentarios</h2>
    <ul id="comments-post">
      {% for comment in orderedComments %}
        {% include "./_comment.html" %}
      {% endfor %}
    </ul>
    <h2>Escribe un comentario:</h2>
    <form role="form" method="post">
      <div id="comment-author">
        <textarea rows="8" name="commentContent"></textarea>
        <button id="comment" type="submit">COMENTAR</button>
      </div>
    </form>
  </section>

{% endblock %}
