{% extends '../layouts/layout.html' %}


{% block content %}
  <section id="dashboard">
    <div class="title-head">
      <div class="left"><span class="icon"><img src="/img/create.png"></span> <h1>Nuevo Post en <strong>{{section.name}}</strong></h1><br></div>
    </div>

            <div class="clearfix"></div>

    <form role="form" method="post">
      Titulo:<small style="font-size:0.7em;color:red">*Obligatorio</small>
      <input type="text" class="form-control" name="title" placeholder="Titulo"><br/>

      Url:<small style="font-size:0.7em;">(Opcional)</small>
      <input type="text" class="form-control" name="url" placeholder="Url"><br/>

      Texto: <small style="font-size:0.7em;">(Opcional)</small>
      <textarea class="form-control" rows="6" name="description" placeholder="Más texto..."></textarea><br/>

      <button type="submit" class="btn blue">Guardar</button>
    </form>

  </section>





{% endblock %}
