<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>NAME | Login</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		<meta name="MobileOptimized" content="320">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<body class="login">
		<div class="logo">
			<h1>Doge Split</h1>
		</div>
		<div class="content">
		          {% block content %}{% endblock %}
		</div>
		<div class="copyright">
			 Made by Santiago Zavala, you can find the code in <a href="https://github.com/DFectuoso/dogesplit">Github</a>
		</div>
	</body>
</html>