{% extends '../layouts/user_layout.html' %}

{% block content %}
	<div id="info">
		{% if messageLogin.length > 0 %}
			<div>
				<span class="error">{{messageLogin}}</span>
			</div>
		{% endif %}

	  <form action="/user/login" method="post">
	      Email: <input type="text" name="email" placeholder="E-mail"><br>
	      Contraseña: <input type="password" name="password" placeholder="Password"><br>
	      <input type="submit" value="Ingresar">
	  </form>
	</div>
	<!-- <p><a href="">¿Has perdido tu contraseña?</a></p> -->
	<p><a href="/user/signup">¿No estás registrado?</a></p>
	<p><a href="/">Ir al Inicio</a></p>
{% endblock %}
