{% extends '../layouts/user_layout.html' %}

{% block content %}
	<div id="info">
		<h2>Regístrate</h2>

  	{% if signupMessage.length > 0 %}
			<div>
				<span class="error">{{signupMessage}}</span>
			</div>
		{% endif %}

    <form action="/user/signup" method="post">
        Nickname: <input type="text" placeholder="Nickname" name="nickname"><br>
        E-mail: <input type="text" placeholder="Email" name="email"><br>
        Contraseña: <input type="password" placeholder="Password" name="password"><br>
        Contraseña, otra vez: <input type="text" type="rpassword" placeholder="Password, otra vez."><br>
        <label><input type="checkbox" name="tnc"> Estoy de acuerdo con los términos y condiciones.</label>
        <input type="submit" value="Ingresar">
    </form>
	</div>
	<p><a href="/">Ir al Inicio</a></p>
{% endblock %}
