{% extends '../layouts/layout.html' %}

{% block content %}
  <section id="messages">
    <div class="title-head">
      <div class="left"><span class="icon"><img src="/img/title.png"></span> <h1>MENSAJES</h1></div>
    </div>
    <div class="clearfix"></div>
    <ul>
      {% for notification in notifications %}
        <li class="{% if not notification.read %}unread{% endif %}">
          <div class="author"><a href="/user/{{notification.fromUser.id}}">{{notification.fromUserNickname}}</a></div>
          <div class="time">{{notification.createdDate|date('j/m/Y h:i a')}}</div>
          <div class="comments"><a href="/notification/{{notification.id}}">{{notification.text}}</a></div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
