{% extends '../../layouts/layout.html' %}


{% block content %}
	<div class="page-content">

		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box light-grey">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>
					Users
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_1">
				<thead>
				<tr>
					<th>
						Email
					</th>
					<th>
						Fullname
					</th>
					<th>
						Joined
					</th>
					<th>
						Role
					</th>
				</tr>
				</thead>
				<tbody>
					{% for u in users %}
						<tr class="odd gradeX">
							<td>
								<a href="/admin/users/{{user.id}}">{{u.email}}</a>
							</td>
							<td>
								{{u.fullname}}
							</td>
							<td class="center">
								{{u.createdDate|date('F jS, Y') }}
							</td>
							<td>
								<span class="label label-sm label-success">
									{{u.role}}
								</span>
							</td>
						</tr>
					{% endfor %}


				</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->


	</div>


{% endblock %}
