{% extends '../../layouts/layout.html' %}


{% block content %}
<section id="dashboard">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Edit Section</small></h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-reorder"></i> Section information
        </div>
      </div>
      <div class="portlet-body form">
        <form role="form" method="post">
          <div class="form-body">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{section.name}}">
          </div>
          <div class="form-group">
            <label>Slug</label>
            <input type="text" class="form-control" name="slug" placeholder="Slug" value="{{section.slug}}">
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="checkbox" class="form-control" name="city" {% if section.city %}checked{% endif %}>
          </div>
          <div class="form-group">
            <label>Main</label>
            <input type="checkbox" class="form-control" name="main"{% if section.main %}checked{% endif %}>
          </div>

          </div>
          <div class="form-actions">
            <button type="submit" class="btn blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
  </div>
</section>


{% endblock %}
