{% extends '../../layouts/layout.html' %}


{% block content %}
  <div class="page-content">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>
          Sections
        </div>
        <div class="actions">
					<a href="/admin/sections/new" class="btn green btn-sm"><i class="fa fa-plus"></i> Add</a>
  			</div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Slug
          </th>
          <th>
            City
          </th>
          <th>
            Main
          </th>
          <th>
            Created
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
          {% for s in sections %}
            <tr class="odd gradeX">
              <td>
                <a href="/admin/sections/{{s.id}}">{{s.name}}</a>
              </td>
              <td>
                {{s.slug}}
              </td>
              <td>
                {{s.city}}
              </td>
              <td>
                {{s.main}}
              </td>
              <td class="center">
                {{s.createdDate|date('F jS, Y') }}
              </td>
              <td>
								<a href="/admin/sections/{{s.id}}/delete" class="btn default btn-xs red"><i class="fa fa-trash-o"></i> Delete</a>
              </td>
            </tr>
          {% endfor %}


        </tbody>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


  </div>


{% endblock %}
